<div class="row">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    {% if venue.photo %}
    <img class="venue-photo-top" src='{{ MEDIA_URL }}{{venue.photo}}'>
    <br>
    {% endif %}

      <div class="topic text-center">
          <p><b>{{ venue.name }}</b></p>
      </div>

  </div>
  <div class="col-0 col-sm-2"></div>
</div>


{% if venue.address %}
<div class="row">
  <div class="col-0 col-sm-2"></div>
    <div class="col-12 col-sm-8">
      <div class="description-text text-center">
        {{ venue.address }}
      </div>
    </div>
</div>
{% endif %}

{% if venue.description %}
<div class="row">
  <div class="col-0 col-sm-2"></div>
    <div class="col-12 col-sm-8">
      <div class="description-text text-center">
        {{ venue.description }}
      </div>
    </div>
</div>
{% endif %}


{% if request.user.is_admin %}
<form id="list_form" method="post" action="{{main_url}}">
  {% csrf_token %}

<div class="row">
    <div class="col-12">
      <div class="description-text text-center">

  <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_VENUE_UPDATE}}', '{{venue.id}}');">編集</a>
  <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_VENUE_MERGE}}', '{{venue.id}}');">統合</a>
  </div>
  </div>
  </div>
  </form>
{% endif %}
