<div class="row" id="hrizontalline">
  <div class="col-3 col-sm-2"></div>
  <div class="col-6 col-sm-8"><hr/></div>
  <div class="col-3 col-sm-2"></div>
</div>

<form id="list_form" method="post" action="{{main_url}}">
  {% csrf_token %}

<div class="row">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    <div class="subtopic text-center">
      <p>Comments</p>
    </div>
  </div>
  <div class="col-0 col-sm-2"></div>
</div>

{% for comment in comment_list %}
<div class="row">
  <div class="col-2 col-sm-2"></div>
  <div class="col-8 col-sm-8">
    <div class="description-text text-left">
    <p><b>{{ comment.user.username }}</b> - <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_DETAIL}}', '{{comment.beer.id}}');"><b>{{ comment.beer.name }}</b></a></p>
    <p>{{ comment.comment }}</p>
    </div>
</div>
<div class="col-2 col-sm-2"></div>
</div>
{% endfor %}

</form>
