{% load static %}
{% load custom_tags %}
<div class="row" id="hrizontalline">
  <div class="col-3 col-sm-2"></div>
  <div class="col-6 col-sm-8"><hr/></div>
  <div class="col-3 col-sm-2"></div>
</div>

<form id="list_form" method="post" action="{{main_url}}">
  {% csrf_token %}
<br>
<div class="row">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    <div class="subtopic text-center">
      <img src="{% static 'images/subtopic-comments.png' %}" class="page-title-img" />
    </div>
  </div>
  <div class="col-0 col-sm-2"></div>
</div>
<br>
{% for comment in comment_list %}
<div class="row">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    <div class="description-text text-left">
  <p><span class="subtopic"><b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_USER_ACCOUNT}}', '{{comment.user.id}}');">{{ comment.user.username }}</a></b></span> - <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_DETAIL}}', '{{comment.beer.id}}');"><b>{{ comment.beer.name }}</b></a> by <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BREWERY_DETAIL}}', '{{comment.beer.brewery.id}}');">{{ comment.beer.brewery.name }}</a>
    <br>{% for i in comment.overall|make_range %}<img src="{% static 'images/star-feed.png' %}" class="feed-star" /> {% endfor %}<span class="feed-info-right">{{ comment.registered_date }}</span>
  </p>
    <p>{{ comment.comment }}</p>
    {% if comment.photo %}
          <p>
              <img class="img-fluid feed-photo" src='{{ MEDIA_URL }}{{comment.photo}}'>
          </p>
    {% endif %}
    </div>
</div>
<div class="col-0 col-sm-2"></div>
</div>
<hr class="hr-home">
{% endfor %}

</form>
