{% load static %}
{% load custom_tags %}

<form id="list_form" method="post" action="{{main_url}}">
  {% csrf_token %}

  {% if not comment_list %}
  <div class="row">
    <div class="col-0 col-sm-2"></div>
    <div class="col-12 col-sm-8">

      <div class="topic text-center">
        <p>
        <b>Welcome!</b>
        </p>
      </div>
    </div>
    <div class="col-0 col-sm-2"></div>
  </div>

  <br>
  <div class="row">
    <div class="col-4 col-sm-3">
      <div class="description-text text-right">
      <a href="/home/" class="howto-icon"><img src="{% static 'images/home.png' %}" class="nav-icon"/></a> <<
      </div>
    </div>
    <div class="col-7 col-sm-7">
      <div class="description-text text-left">
        <p>
          フォローした人の最新コメント一覧はこのアイコンから確認します
        </p>
    </div>
    </div>
    <div class="col-1 col-sm-2"></div>
  </div>

  <br>
  <div class="row">
    <div class="col-4 col-sm-3">
      <div class="description-text text-right">
      <a href="/home/world/" class="howto-icon"><img src="{% static 'images/world.png' %}" class="nav-icon"/></a> <<
      </div>
    </div>
    <div class="col-7 col-sm-7">
      <div class="description-text text-left">
        <p>
          全ユーザの最新コメント一覧はこちらから
        </p>
    </div>
    </div>
    <div class="col-1 col-sm-2"></div>
  </div>

  <br>
  <div class="row">
    <div class="col-4 col-sm-3">
      <div class="description-text text-right">
      <a href="javascript:void(0)" onClick="movePage('{{ACTION_SEARCH}}');" class="howto-icon"><img src="{% static 'images/search.png' %}" class="nav-icon"/></a> <<
      </div>
    </div>
    <div class="col-7 col-sm-7">
      <div class="description-text text-left">
        <p>
        ビール、ブルワリー、店舗、お友達はキーワードから検索！
        </p>
    </div>
    </div>
    <div class="col-1 col-sm-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-4 col-sm-3">
      <div class="description-text text-right">
      <a href="javascript:void(0)" onClick="movePage('{{ACTION_DETAIL_SEARCH}}');"><img src="{% static 'images/detail_search.png' %}" class="header-l"/></a> <<
      </div>
    </div>
    <div class="col-7 col-sm-7">
      <div class="description-text text-left">
        <p>
        苦味や香りなど、ビールの味わいから検索しましょう！<br>検索ナビの左上のアイコンから味わい検索画面へ！
        </p>
    </div>
    </div>
    <div class="col-1 col-sm-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-4 col-sm-3">
      <div class="description-text text-right">
      <a href="javascript:void(0)" onClick="movePage('{{ACTION_ADD_BEER_EVALUATION_FORM}}');" class="howto-icon"><img src="{% static 'images/eval.png' %}" class="nav-icon"/></a> <<
      </div>
    </div>
    <div class="col-7 col-sm-7">
      <div class="description-text text-left">
        <p>
        飲んだビールの味評価を登録しよう！<br>
        ビール詳細画面から入力画面に移るとブルワリーとビールが入力された状態から始められます。
        </p>
    </div>
    </div>
    <div class="col-1 col-sm-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-4 col-sm-3">
      <div class="description-text text-right">
      <a href="javascript:void(0)" onClick="moveToDetail('{{ACTION_USER_ACCOUNT}}', '{{ request.user.id }}');" class="howto-icon"><img src="{% static 'images/user.png' %}" class="nav-icon"/></a> <<
      </div>
    </div>
    <div class="col-7 col-sm-7">
      <div class="description-text text-left">
        <p>
        飲んだビールやフォロワーなどはアカウント画面から見ることができます！
        </p>
    </div>
    </div>
    <div class="col-1 col-sm-2"></div>
  </div>
  {% endif %}



  <div class="infinite-container">
    {% for comment in comment_list %}
      <div class="infinite-item">
        <div class="row" id="comment_list">
          <div class="col-2 col-sm-2 profile-frame text-center">
            {% if comment.user.photo %}
            <img class="profile-home img-fluid" src='{{ MEDIA_URL }}{{comment.user.photo}}'>
            {% else %}
            <img src="{% static 'images/no-profile-image.png' %}" class="profile-home img-fluid" />
            {% endif %}
          </div>

          <div class="col-10 col-sm-8">
            <div class="description-text text-left">
              <p>
                <span class="subtopic"><b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_USER_ACCOUNT}}', '{{comment.user.id}}');">{{ comment.user.username }}</a></b></span>
                <span class="description-text">
              <br>is drinking  <a class="home-link" href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_DETAIL}}', '{{comment.beer.id}}');">{{ comment.beer.name }}</a> by <a class="home-link" href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BREWERY_DETAIL}}', '{{comment.beer.brewery.id}}');">{{ comment.beer.brewery.name }}</a>
              {% if comment.venue %} at <a class="home-link" href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_VENUE_DETAIL}}', '{{comment.venue.id}}');">{{ comment.venue.name }}</a>{% endif %}
              <br><span class="feed-info-left">{% for i in comment.overall|make_range %}<img src="{% static 'images/star-feed.png' %}" class="feed-star" /> {% endfor %}</span><span class="feed-info-right"> {{ comment.registered_date }}</span>
                </span>
              </p>
            </div>
          </div>
        <div class="col-0 col-sm-2"></div>
        </div>

        <div class="row" id="comment_list">
        <div class="col-2 col-sm-2"></div>
        <div class="col-10 col-sm-8">
          <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_USER_BEER_DETAIL}}', '{{comment.id}}');">
            <div class="description-text text-left">
              <p>
                <span class="description-text">
                  {{ comment.comment }}
                </span>
              </p>
            </div>
          </a>
          </div>
        <div class="col-0 col-sm-2"></div>
        </div>

        <div class="row" id="comment_list">
        <div class="col-2 col-sm-2">
        </div>
        {% if comment.photo %}
        <div class="col-10 col-sm-8">
          <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_USER_BEER_DETAIL}}', '{{comment.id}}');">
            <div class="description-text text-left">
              <p>
                <span class="description-text">
                  <img class="img-fluid feed-photo" src='{{ MEDIA_URL }}thumb_{{comment.photo}}'>
                </span>
              </p>
            </div>
          </a>
        </div>
        {% else %}
        <div class="col-10 col-sm-8"></div>
        {% endif %}
        <div class="col-0 col-sm-2"></div>
        </div>

        <div class="row">
        <div class="col-12 col-sm-10">
          <div class="description-text">
            <span class="like-block feed-info-right-md">

              <span class="has-padding-right-feed">
                <img src="{% static 'images/conv.png' %}" class="conv-icon" />
                 <span>{{ comment.id|get_comment_reply_count }}</span>
               </span>


              <span class="has-padding-right-feed">
              <a role="button" aria-pressed="false" onclick="comment_wish('{% url 'comment_wish' comment.id %}', {{ comment.id }})">
                {% if comment.id|comment_is_wished:request.user%}
                <img src="{% static 'images/wishlist_on.png' %}" class="wish-icon" id="comment-wish-{{ comment.id }}" />
                {% else %}
                <img src="{% static 'images/wishlist_off.png' %}" class="wish-icon" id="comment-wish-{{ comment.id }}" />
                {% endif %}
                 <span id="comment-wish-count-{{ comment.id }}">{{ comment.id|get_comment_wish_count }}</span>
               </a>
               </span>


              <a role="button" aria-pressed="false" onclick="like('{% url 'like' comment.id %}', {{ comment.id }})">
                {% if comment.id|is_liked:request.user%}
                <img src="{% static 'images/liked.png' %}" class="like-icon" id="comment-like-{{ comment.id }}" />
                {% else %}
                <img src="{% static 'images/pre_like.png' %}" class="like-icon" id="comment-like-{{ comment.id }}" />
                {% endif %}
                 <span id="like-count-{{ comment.id }}">{{ comment.id|get_like_count }}</span>
               </a>
             </span>
          </div>
        </div>
        </div>

        <div class="row" id="hrizontalline">
          <div class="col-0 col-sm-2"></div>
          <div class="col-12 col-sm-8"><hr class="hr-home"></div>
          <div class="col-0 col-sm-2"></div>
        </div>
      </div>
    {% endfor %}
  </div>


  {% if comment_list.has_next %}
     <a class="infinite-more-link" href="?page={{ comment_list.next_page_number }}">More</a>
  {% endif %}




</form>

<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0]
  });
</script>
