<div class="row">
  <div class="col-xs-0 col-sm-2"></div>
  <div class="col-xs-12 col-sm-8">
    <div id="main_content" class="thumbnail">
      <ul>
        <li>
          login
        </li>
        <li>
          Home
        </li>
        <li>
          検索
        </li>
        <li>
          ビール詳細
        </li>
        <li>
          ビール登録
        </li>
        <li>
          ブルワリー詳細
        </li>
        <li>
          店舗詳細
        </li>
        <li>
          ユーザーアカウント
        </li>
        <li>
          管理者アカウント
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-0 col-sm-2"></div>
</div>
