<form id="list_form" method="post" action="{{main_url}}">
  {% csrf_token %}


  {% for comment in comment_list %}
    <div class="row" id="comment_list">
      <div class="col-0 col-sm-2"></div>
      <div class="col-12 col-sm-8">

        <div class="description-text text-left">
          <p>
            <span class="subtopic"><b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_USER_ACCOUNT}}', '{{comment.user.id}}');">{{ comment.user.username }}</a></b></span>
            <span class="description-text">
          <br>is drinking  <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_DETAIL}}', '{{comment.beer.id}}');">{{ comment.beer.name }}</a> by <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BREWERY_DETAIL}}', '{{comment.beer.brewery.id}}');">{{ comment.beer.brewery.name }}</a>
          <br>{% if comment.venue %} at <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_VENUE_DETAIL}}', '{{comment.venue.id}}');">{{ comment.venue.name }}</a> {% endif %} on　{{ comment.registered_date }}
          <br>rate: {{comment.overall}}
            </span>
          </p>
          <p>
            <span class="description-text">
              {{ comment.comment }}
            </span>
          </p>
        </div>
        <br>
      </div>
    <div class="col-0 col-sm-2"></div>
    </div>
    {% endfor %}



</form>
