<div class="row">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    <div id="main_content">
      {% if beer_update_form %}
      <form enctype="multipart/form-data" method="POST" action="{{main_url}}">
        {% csrf_token %}
        {{ beer_update_form.as_p }}

        <input type="hidden" name="action" value="{{ACTION_UPDATE_BEER}}">
        <input type="hidden" name="beer_id" value="{{ beer.id }}">
        <button id="id_update_beer" type="submit" class="btn btn-default">登録</button>

      </form>
      {% endif %}

      {% if brewery_update_form %}
      <form enctype="multipart/form-data" method="POST" action="{{main_url}}">
        {% csrf_token %}
        {{ brewery_update_form.as_p }}

        <input type="hidden" name="action" value="{{ACTION_UPDATE_BREWERY}}">
        <input type="hidden" name="brewery_id" value="{{ brewery.id }}">
        <button id="id_update_beer" type="submit" class="btn btn-default">登録</button>

      </form>
      {% endif %}

      {% if merge_beer_form %}
      <form enctype="multipart/form-data" method="POST" action="{{main_url}}">
        {% csrf_token %}
        {{ merge_beer_form.as_p }}

        <input type="hidden" name="action" value="{{ACTION_MERGE_BEER}}">
        <button id="id_merge_beer" type="submit" class="btn btn-default">登録</button>

      </form>
      {% endif %}

      {% if merge_brewery_form %}
      <form enctype="multipart/form-data" method="POST" action="{{main_url}}">
        {% csrf_token %}
        {{ merge_brewery_form.as_p }}

        <input type="hidden" name="action" value="{{ACTION_MERGE_BREWERY}}">
        <button id="id_merge_beer" type="submit" class="btn btn-default">登録</button>

      </form>
      {% endif %}

      {% if venue_update_form %}
      <form enctype="multipart/form-data" method="POST" action="{{main_url}}">
        {% csrf_token %}
        {{ venue_update_form.as_p }}

        <input type="hidden" name="action" value="{{ACTION_UPDATE_VENUE}}">
        <input type="hidden" name="venue_id" value="{{ venue.id }}">
        <button id="id_update_venue" type="submit" class="btn btn-default">登録</button>

      </form>
      {% endif %}

      {% if untouched_brewery_list %}
      <form id="list_form" enctype="multipart/form-data" method="POST" action="{{main_url}}">
        {% csrf_token %}
        {% for brewery in untouched_brewery_list %}
        <div class="topic text-center">
          <p><b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BREWERY_DETAIL}}', '{{brewery.id}}');">{{ brewery.name }}</a></b></p>
        </div>
        <hr>
        {% endfor %}
      </form>
      {% endif %}


      {% if untouched_beer_list %}
      <form id="list_form" enctype="multipart/form-data" method="POST" action="{{main_url}}">
        {% csrf_token %}
        {% for beer in untouched_beer_list %}
        <div class="topic text-center">
          <p><b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_DETAIL}}', '{{beer.id}}');">{{ beer.name }}</a></b></p>
        </div>
        <hr>
        {% endfor %}
      </form>
      {% endif %}


    </div>
  </div>
  <div class="col-0 col-sm-2"></div>
</div>
