.container{
  position: relative;/*←相対位置*/
  padding-top: 65px;/*←footerの高さ*/
  padding-bottom: 50px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.container-login{
  position: relative;/*←相対位置*/
  padding-top: 15px;/*←footerの高さ*/
  padding-bottom: 50px;/*←footerの高さ*/
  padding-right: 15px;
  padding-left:15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.form-inner > div.half-blank {
  width : 50%;
  padding-top: 65px;
}

.card {
    border:none;
}

#header{
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  background: linear-gradient(#fff 90%, rgba(255,255,255,0));
}

#login{
  padding-bottom: 100px
}

img.like-icon{
  width: 20px;
  padding-right:3px;
}

img.like-icon-sm{
  width: 13px;
  padding-right:1px;
}

img.wish-icon{
  width: 20px;
  padding-right:3px;
}

img.wish-icon-sm{
  width: 13px;
  padding-right:1px;
}

img.conv-icon{
  width: 20px;
  padding-right:3px;
}

img.conv-icon-sm{
  width: 13px;
  padding-right:1px;
}


a.howto-icon{
  padding-right: 5px;
  width: 25px;
}

a.nav-icon{
  padding: 0px 10px 0px 10px;
}

img.nav-icon{
  width: 25px;
}

img.star{
  width: 20px;
}

img.nav-icon-l{
  width: 80px;
}


img.header{
  width: 30px;
}

img.header-l{
  width: 60px;
}

ul.navigation{
  padding-inline-start: 0px;
}

section#blank{
  padding-top: 300px;
}

section#howto{
  padding-top: 70px;
}

#navigation {
  width: 100%;
  background-color: #d4d3d3;
}

#navigation li{
  display: inline;
}

#detail_search_bar {
  padding-bottom: 50px;
}

#search_bar {
  padding-bottom: 20px;
}

.title-image {
/*  padding-top: 10px;
  padding-bottom: 10px; */
}

.signup-selecter {
  width:30%;
}

.follow-data-left {
  padding-right: 7px;
  display:inline-block;
}

.follow-data-right {
  padding-left: 7px;
  display:inline-block;
}


.form-control:disabled, .form-control[readonly]{
  background-color:transparent;
}

.page-title-img {
  height: 30px;
}

.account-note {
  font-size: 10px;
  color: gray;
}

/* howto セクションのスタイル*/
.howto-topic {
	font-family: 'M PLUS 1p', sans-serif;
	color:#0090ff;
  font-size:2em;
  padding-bottom:30px;
}

.howto-description {
	font-family: 'M PLUS 1c', sans-serif;
	color:#000000;
  font-size:1.5em;
	margin-bottom:100px;
}

a.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

a.btn-outline-success {
  color: #01ae26;
  border-color: #01ae26;
}

a.btn-success {
  color: #ffffff;
  border-color: #01ae26;
}

a.btn-info {
  color: #fff;
  background-color: #00c1de;
  border-color: #00c1de;
}

.btn-info:hover {
  color: #fff;
  background-color: #0066ff;
  border-color: #0066ff;
}

input {
  font-size: 16px;
}

.delete-right {
    float: right;
}

.feed-info-right {
  font-size:10px;
  float: right;
}

.feed-info-right-sm {
  font-size:8px;
  float: right;
  color: gray;
}

.bottom-margin-sm {
  margin-bottom:7px;
}

.feed-info-right-md {
  font-size:12px;
  float: right;
}

.has-padding-right-feed {
  padding-right: 20px;
}

.has-sm-padding-right-feed {
  padding-right: 6px;
}

.feed-info-left {
  font-size:10px;
  float: left;
  padding-bottom:7px;
}

.like-block{
  padding-bottom: 5px;
  display: inline-block;
  float: right;
}

.feed-info-md {
  font-size:12px;
  float: center;
  display: inline-block;
}

img.feed-star {
  width: 15px;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

img.feed-star-sm {
  width: 12px;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

.form-control{
  font-size: 16px;
}

.custom-file-label {
  background:transparent;
}

.card-form-text > a{
  color: #000000;
}

.card-form-text > a:hover, a:active{
  color: #000000;
}

hr.hr-home{
  margin-top: 5px;
  margin-bottom: 15px;
  border: 0;
  border-top: 0.5px solid #eeeded;
}

hr.hr-home-lg{
  margin-top: 10px;
  margin-bottom: 25px;
  border: 0;
  border-top: 0.5px solid #eeeded;
}

hr.hr-recommend{
  margin-top: 5px;
  margin-bottom: 0px;
  border: 0;
  border-top: 0.5px solid #eeeded;
}

.left-padding-md {
  padding-left: 20px;
}

.similar-beer-list {
  padding-right:15px;
}

.similar-beer-image{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  object-fit:cover;
  background-position: center center;
  max-width: 70px;
  margin-top: 7px;
  margin-right: 20px;
}

.home-link {
  color: #1861b3;
}

.reply-submit {
  padding-top:5px;
}

#replys hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

#replys p {
  margin-bottom: 0px;
}

.profile-reply{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  object-fit:cover;
  background-position: center center;
  max-width: 25px;
  margin-top: 3px;
}

/* === ログインフォーム ============================= */
.login-form-style {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 0px;
    border-right: 0;
    border-left:0;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-content {
  padding-top:20px;
  padding-bottom:20px;
}

.btn-login {
  background-color: #fff000;
  border: 0px;
  padding: 12px 30px;
}
/* === ユーザ画面のサブトピックリンク ============================= */
.user_page_subtopic {
  padding-top:10px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.user_page_selected {
  color: #646464;
  border-bottom:solid;
  border-width: 1px;
  border-color: #646464;
}

.user_page_unselected  > a {
  color: #9b9c9b;
}

/* === wishボタン ============================= */
.wish-btn {
  width: 100%;
}

/* === コメントボタン ============================= */
.comment-btn {
  width: 100%;
}

/* === 横スクロール ============================= */
.horizontal_scroll {
	/*中身スクロールします*/
   overflow: auto;
	/*テーブルを入れた場合、セル内の文字を折り返ししないようにします*/
   white-space: nowrap;
	/*惰性を与えてスムーズなスクロールにしますよ*/
   -webkit-overflow-scrolling: touch;
}

/* === ユーザ画面の画像一覧設定 ============================= */
.square-content {
  object-fit    :cover;
  width         :100%;
  padding-bottom: 3px;
}

.user-subcontent-beer-list-desc > .feed-info-right-md {
  font-size:12px;
  float: right;
  padding-right: 4px;
}

#user-subcontent-beer-list.row {
  margin-right:-9px;
  margin-left:-9px;
}

#user-subcontent-beer-list > .col-sm-2 {
  padding-right:1px;
  padding-left:1px;
}

#user-subcontent-beer-list > .col-4 {
  padding-right:1px;
  padding-left:1px;
}

#user-subcontent-beer-list > .col-12 {
  padding-right:1px;
  padding-left:1px;
}

#user-subcontent-beer-list > .col-6 {
  padding-right:1px;
  padding-left:1px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.user-subcontent-beer-list-desc {
  padding-left: 3px;
  padding-bottom: 17px;
}

/* === wishlistのロゴ設定 ============================= */
.wish-logo{
  object-fit:cover;
  background-position: center center;
  max-width: 100%;
}

/* === 投稿写真画像設定 ============================= */
.feed-photo {
  border-radius: 5%;  /* 角丸半径を50%にする(=円形にする) */
  width:100%;
}

/* === 店舗画像設定 ============================= */
.venue-photo-top{
  width: 100%;
  padding-bottom: 25px;
}

/* === ブルワリーロゴ画像設定 ============================= */
.brewery-logo-top{
  width: 130px;
  padding-bottom: 15px;
}

/* === ブルワリーロゴ画像設定 ============================= */
.brewery-logo-search{
  max-width: 130px;
  max-height: 75px;
  padding-bottom: 15px;
}
/* === フォロー画面のプロフィール画像設定 ============================= */
.profile-follow{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  object-fit:cover;
  background-position: center center;
  max-width: 55px;
  margin-top: 2px;
}

/* === ホーム画面のプロフィール画像設定 ============================= */
.profile-home{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  object-fit:cover;
  background-position: center center;
  max-width: 55px;
  margin-top: 7px;
}

/* === ユーザ画面のプロフィール画像設定 ============================= */
.profile-user {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  object-fit:cover;
  background-position: center center;
  max-height: 150px;
}

.profile-frame {
  padding-right: 0px;
}

/* === おすすめビール画像設定 ============================= */
.recommend-beer-img {
  background-position: left;
  max-height: 20px;
}

/* === ビール検索画面のブルワリーロゴ画像設定 ============================= */
.beer-search-logo {
  object-fit:cover;
  background-position: center center;
  max-height: 90px;
  max-width: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  margin: auto 0 auto 20px;
}

/* === ビール検索画面のテキスト設定 ============================= */
.beer-search-text {
  margin: 10px 0
}

/* === タブのSTYLE設定 ============================= */

@keyframes tabAnim{
 0%{top:-100%;}
 100%{top:0;}
 }
.tab_wrap{
  width:100%;
  text-align:center;
}

input[type="radio"]{
  display:none;
}

.tab_area{
  font-size:0;
  margin:0px;
  padding-bottom: 50px;
}
.tab_area label{
  width:80px;
  display:inline-block;
  color:#d4d3d3;
  background:transparent;
  text-align:center;
  font-size:15px;
  font-family: 'M PLUS Rounded 1c', Helvetica, Arial, sans-serif;
  font-weight:normal;
  border-top: solid 4px #d4d3d3;
  border-bottom: solid 4px #d4d3d3;
  border-right: solid 2px #d4d3d3;
  border-left: solid 2px #d4d3d3;
  cursor:pointer;
  transition:ease 0.2s opacity;
}

.tab_area label:hover{
}
.panel_area{
  overflow:hidden;
  height:2000px;
  position:relative;
}
.tab_panel{
  width:100%;
  background:#fff;
  overflow:hidden;
  position:absolute;
  height:100%;
}

#tab4:checked ~ .tab_area .tab4_label{background:#fff; color:#000;}
#tab4:checked ~ .panel_area #panel4{animation:tabAnim ease 0.4s forwards; -ms-animation:tabAnim ease 0.4s forwards; z-index:1;}
#tab1:checked ~ .tab_area .tab1_label{background:#fff; color:#000;}
#tab1:checked ~ .panel_area #panel1{animation:tabAnim ease 0.4s forwards; -ms-animation:tabAnim ease 0.4s forwards; z-index:1;}
#tab2:checked ~ .tab_area .tab2_label{background:#fff; color:#000;}
#tab2:checked ~ .panel_area #panel2{animation:tabAnim ease 0.4s forwards; -ms-animation:tabAnim ease 0.4s forwards; z-index:1;}
#tab3:checked ~ .tab_area .tab3_label{background:#fff; color:#000;}
#tab3:checked ~ .panel_area #panel3{animation:tabAnim ease 0.4s forwards; -ms-animation:tabAnim ease 0.4s forwards; z-index:1;}

.tab_area label.active {
  background:#d4d3d3;
  color:#fff;
}

.search-found {
  color: #000000;
}

/* === 検索入力欄のSTYLE設定 ============================= */
.btn-search {
  margin-bottom    : 6px;
}

.searchBox {
 width              : auto;            /* inputの幅           */
 background-color   : transparent;             /* 背景色              */
 margin             : 0 5px 0 0;           /* サンプルは中央寄せ  */
 padding-left       : 5px;             /* 文字の左余白    */
 padding-right      : 5px;             /* 文字のの左余白    */
 border             : 1px solid #8c8c8c;   /* 枠線　幅,実践,色    */
 border-radius      : 6px;              /* 角丸                */
 color              : #555;             /* 文字色              */
 font-size          : 18px;             /* フォントサイズ      */
 letter-spacing     : 0.1em;            /* 文字間隔            */
 font-weight        : bold;             /* 太字                */
 outline            : 0;                /* 入力薄枠を非表示    */
}

/* === テキスト入力欄にフォーカスか来たとき ================== */
.searchBox:focus {
 background-color     : transparent;        /* フォーカス時背景色  */
}

/* === IEの入力エリア右側×消し ============================== */
.searchBox::-ms-clear {
 display        : none;                 /* ×を消す            */
}


/* === スクロールダウンのアニメーション ============================== */
a.scroll-down {
  position: absolute;
  left: 40%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  padding-top: 70px;
}

a.scroll-down span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #0090ff;
  border-bottom: 1px solid #0090ff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
