{% load static %}
{% load custom_tags %}
<div class="row" id="main_content">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
      <div class="topic text-center">
          <p><b>{{ beer.name }}</b></p>
      </div>
      <div class="subtopic text-center">
        <p>by <b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BREWERY_DETAIL}}', '{{brewery.id}}');">{{ brewery.name }}</a></b></p>
      </div>

      <div class="description-text text-center">
        {% if beer.style %}style: {{ beer.style }}{% endif %}&nbsp;&nbsp;&nbsp;{% if beer.abv %}abv: {{ beer.abv }}% {% endif %}
      </div>

      <div class="description-text text-center">
        {%if beer.description %}{{ beer.description }}{% endif %}
      </div>

      <form id="list_form" method="post" action="{{main_url}}">
        {% csrf_token %}
        <div class="description-text text-center">
          <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_ADD_BEER_EVALUATION_FORM}}', '{{ beer.id }}');" class="nav-icon"><img src="{% static 'images/subtopic-evaluate.png' %}" class="page-title-img"/></a>
      {% if request.user.is_admin %}

        <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_UPDATE}}', '{{beer.id}}');">編集</a>
        <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_MERGE}}', '{{beer.id}}');">統合</a>
        id: {{beer.id}}
      {% endif %}
    </div>
    </form>


      <br>
      <div class="subtopic text-center">
        <p><u>{{ beer_taste_avg.overall }}</u></p>
        <p>{% for i in beer_taste_avg.overall|make_range %}<img src="{% static 'images/star.png' %}" class="star" /> {% endfor %}</p>
      </div>
    </div>
  <div class="col-0 col-sm-2"></div>
</div>

<div class="row" id="main_content2">
    <div class="col-2 col-sm-3"></div>
    <div class="col-4 col-sm-3">
      <div class="subtopic text-left">
        <p>Bitterness:</p>
        <p>Aroma:</p>
        <p>Body:</p>
        <p>Drinkability:</p>
        <p>Pressure:</p>
        <p>Specialness:</p>
      </div>
    </div>
    <div class="col-4 col-sm-3">
      <div class="subtopic text-right">
        <p>{{ beer_taste_avg.bitterness }}</p>
        <p>{{ beer_taste_avg.aroma }}</p>
        <p>{{ beer_taste_avg.body }}</p>
        <p>{{ beer_taste_avg.drinkability }}</p>
        <p>{{ beer_taste_avg.pressure }}</p>
        <p>{{ beer_taste_avg.specialness }}</p>
      </div>
    </div>
    <div class="col-2 col-sm-3"></div>
</div>
