<div class="row" id="main_content">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
      <div class="topic text-center">
          <p><b>{{ beer.name }}</b></p>
      </div>
      <div class="subtopic text-center">
        <p>by <b>{{ brewery.name }}</b></p>
      </div>

      <div class="description-text text-center">
        style: {{ beer.style }} - abv: {{ beer.abv }}%
      </div>

      <div class="description-text text-center">
        {{ beer.description }}
      </div>

      <br>
      <div class="subtopic text-center">
        <p><u>{{ beer_taste_avg.overall }}</u></p>
        <p>{% for i in stars %}☆ {% endfor %}</p>
      </div>
    </div>
  <div class="col-0 col-sm-2"></div>
</div>

<div class="row" id="main_content2">
    <div class="col-2 col-sm-3"></div>
    <div class="col-4 col-sm-3">
      <div class="subtopic text-left">
        <p>Bitterness:</p>
        <p>Aroma:</p>
        <p>Body:</p>
        <p>Drinkability:</p>
        <p>Pressure:</p>
        <p>Specialness:</p>
      </div>
    </div>
    <div class="col-4 col-sm-3">
      <div class="subtopic text-right">
        <p>{{ beer_taste_avg.bitterness }}</p>
        <p>{{ beer_taste_avg.aroma }}</p>
        <p>{{ beer_taste_avg.body }}</p>
        <p>{{ beer_taste_avg.drinkability }}</p>
        <p>{{ beer_taste_avg.pressure }}</p>
        <p>{{ beer_taste_avg.specialness }}</p>
      </div>
    </div>
    <div class="col-2 col-sm-3"></div>
</div>
