<div class="row" id="hrizontalline">
  <div class="col-3 col-sm-2"></div>
  <div class="col-6 col-sm-8"><hr/></div>
  <div class="col-3 col-sm-2"></div>
</div>

<form id="list_form" method="post" action="{{main_url}}">
  {% csrf_token %}
<div class="row" id="subcontent_comment_title">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    <div class="subtopic text-center">
      <p>Comments</p>
    </div>
  </div>
  <div class="col-0 col-sm-2"></div>
</div>

<div class="row" id="subcontent_comment_list">
  <div class="col-2 col-sm-2"></div>
  <div class="col-8 col-sm-8">
    {% for comment in comment_list %}
    <div class="description-text text-left">
      {% if request.user.is_admin %}
      <p><b>{{ comment.user.username }}</b> - <a href="javascript:void(0)" onClick="deleteRecord('{{ACTION_DELETE_COMMENT}}', '{{comment.id}}');">削除</a></p>
      {% else %}
      <p><b>{{ comment.user.username }}</b></p>
      {% endif %}
    <p>{{ comment.comment }}</p>
    </div>
    {% endfor %}
</div>
<div class="col-2 col-sm-2"></div>
</div>

<div class="row" id="hrizontalline">
  <div class="col-3 col-sm-2"></div>
  <div class="col-6 col-sm-8"><hr/></div>
  <div class="col-3 col-sm-2"></div>
</div>

{% if venue_list %}
<div class="row" id="subcontent_comment_title">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    <div class="subtopic text-center">
      <p>Venues with this beer</p>
    </div>
  </div>
  <div class="col-0 col-sm-2"></div>
</div>


<div class="row" id="subcontent_venue_list">
  <div class="col-2 col-sm-2"></div>
  <div class="col-8 col-sm-8">
    {% for venue in venue_list %}
    <div class="description-text text-left">
    <p><b>・<a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_VENUE_DETAIL}}', '{{venue.id}}');">{{ venue.name }}</a></b></p>
    </div>
    {% endfor %}
</div>
<div class="col-2 col-sm-2"></div>
</div>
{% endif %}
</form>
