<div class="row" id="main_content">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    <div class="topic text-center">
      <p><b>{{ brewery.name }}</b></p>
    </div>
  </div>
</div>

{% if brewery.address %}
<div class="row">
  <div class="col-0 col-sm-2"></div>
    <div class="col-12 col-sm-8">
      <div class="subtopic text-center">
        {{ brewery.address }}
      </div>
    </div>
</div>
{% endif %}

{% if brewery.description %}
<div class="row">
  <div class="col-1 col-sm-2"></div>
    <div class="col-10 col-sm-8">
      <div class="description-text text-center">
        {{ brewery.description }}
      </div>
    </div>
</div>
{% endif %}

<form id="list_form" method="post" action="{{main_url}}">
  {% csrf_token %}

  {% if request.user.is_admin %}
  <div class="row">
      <div class="col-12">
        <div class="description-text text-center">

    <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BREWERY_UPDATE}}', '{{brewery.id}}');">編集</a>
    <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BREWERY_MERGE}}', '{{brewery.id}}');">統合</a>
    id: {{brewery.id}}
    </div>
    </div>
    </div>
  {% endif %}

<div class="row" id="main_content2">
  <div class="col-1 col-sm-2"></div>
    <div class="col-10 col-sm-8">
      <div class="subtopic text-center">
        <p>Brewing Beers</p>
      </div>
      <div class="description-text text-center">
        {% for beer in beer_list %}
          <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_DETAIL}}', '{{beer.id}}');">{{ beer.name }}</a>,
        {% endfor %}
      </div>
    </div>
</div>

<div class="row" id="hrizontalline">
  <div class="col-3 col-sm-2"></div>
  <div class="col-6 col-sm-8"><hr/></div>
  <div class="col-3 col-sm-2"></div>
</div>

<div class="row" id="subcontent_comment_list">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    {% for comment in comment_list %}
    <div class="description-text text-left">
      {% if request.user.is_admin %}
      <p><b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_USER_ACCOUNT}}', '{{comment.user.id}}');">{{ comment.user.username }}</a></b> - <b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_DETAIL}}', '{{comment.beer.id}}');">{{ comment.beer.name }}</a></b>{% if comment.venue %} at <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_VENUE_DETAIL}}', '{{comment.venue.id}}');">{{ comment.venue.name }}</a> {% endif %} - <a href="javascript:void(0)" onClick="deleteRecord('{{ACTION_DELETE_COMMENT}}', '{{comment.id}}');">削除</a>
      <br>rate : {{comment.overall}}</p>
      {% else %}
      <p><b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_USER_ACCOUNT}}', '{{comment.user.id}}');">{{ comment.user.username }}</a></b> - <b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_DETAIL}}', '{{comment.beer.id}}');">{{ comment.beer.name }}</a></b>{% if comment.venue %} at <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_VENUE_DETAIL}}', '{{comment.venue.id}}');">{{ comment.venue.name }}</a> {% endif %}
      <br>rate : {{comment.overall}}</p>
      {% endif %}
    <p>{{ comment.comment }}</p>
    </div>
    {% endfor %}
</div>
<div class="col-2 col-sm-2"></div>
</div>
</form>
