<div class="row" id="main_content">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    <div class="topic text-center">
      <p><b>{{ brewery.name }}</b></p>
    </div>
  </div>
</div>

<div class="row" id="main_content2">
  <div class="col-0 col-sm-2"></div>
    <div class="col-12 col-sm-8">
      <div class="subtopic text-center">
        {{ brewery.description }}
      </div>
    </div>
</div>

<div class="row" id="main_content2">
  <div class="col-0 col-sm-2"></div>
    <div class="col-12 col-sm-8">
      <div class="subtopic text-center">
        <p>=Beer List=</p>
      </div>
      <div class="subtopic text-center">
        {% for beer in beer_list %}
          {{ beer.name }}
        {% endfor %}
      </div>
    </div>
</div>

<div class="row" id="hrizontalline">
  <div class="col-3 col-sm-2"></div>
  <div class="col-6 col-sm-8"><hr/></div>
  <div class="col-3 col-sm-2"></div>
</div>

<div class="row" id="sub_title">
  <div class="col-1 col-sm-2"></div>
    <div class="col-3 col-sm-2">
      <div class="subtopic text-center">
        <p>=Beer=</p>
      </div>
    </div>

      <div class="col-4 col-sm-4">
        <div class="subtopic text-center">
          <p>=User Comment=</p>
        </div>
      </div>

    <div class="col-3 col-sm-2">
      <div class="subtopic text-center">
        <p>=User=</p>
      </div>
    </div>

  <div class="col-1 col-sm-2"></div>
</div>

<div class="row" id=main_content3>
  {% for comment in comment_list %}
    <div class="col-1 col-sm-2"></div>

    <div class="col-3 col-sm-2">
        <div class="description-text text-center">
          <p>{{ comment.beer.name }}</p>
        </div>
    </div>

    <div class="col-4 col-sm-4">
      <div class="description-text text-center">
        <p>{{ comment.comment }}</p>
      </div>
    </div>

    <div class="col-3 col-sm-2">
      <div class="description-text text-center">
        <p>by {{ comment.user }}</p>
      </div>
    </div>

    <div class="col-1 col-sm-2"></div>
  {% endfor %}
</div>
