{% load static %}
{% load custom_tags %}
<div class="row" id="main_content">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    <div class="topic text-center">
      {% if brewery.logo %}
      <img class="brewery-logo-top" src='{{ MEDIA_URL }}{{brewery.logo}}'>
      <br>
      {% endif %}
      <p><b>{{ brewery.name }}</b></p>
    </div>
  </div>
</div>

{% if brewery.address or brewery.web or brewery.webshop %}
<div class="row">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    <div class="description-text text-center">
      {% if brewery.address %} <a href="https://www.google.com/maps/search/?api=1&query={{ brewery.address }}" target="_blank"><img src="{% static 'images/gmap.png' %}" class="feed-star" />{{ brewery.address }}</a> {% endif %}
      {%if brewery.web %}<br> <a href="{{brewery.web}}" target="_blank"><img src="{% static 'images/new_window.png' %}" class="feed-star" />web</a> {% endif %}{%if brewery.webshop %}<br> <a href="{{brewery.webshop}}" target="_blank"><img src="{% static 'images/new_window.png' %}" class="feed-star" />webshop</a> {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if brewery.description %}
<div class="row">
  <div class="col-1 col-sm-2"></div>
  <div class="col-10 col-sm-8">
    <div class="description-text text-center">
      {{ brewery.description }}
    </div>
  </div>
</div>
{% endif %}

<form id="list_form" method="post" action="{{main_url}}">
  {% csrf_token %}

  {% if request.user.is_admin %}
  <div class="row">
    <div class="col-12">
      <div class="description-text text-center">
        <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BREWERY_UPDATE}}', '{{brewery.id}}');">編集</a>
        <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BREWERY_MERGE}}', '{{brewery.id}}');">統合</a>
        id: {{brewery.id}}
      </div>
    </div>
  </div>
  {% endif %}
  <br>
  <div class="row" id="main_content2">
    <div class="col-1 col-sm-2"></div>
    <div class="col-10 col-sm-8">
      <div class="subtopic text-center">
        <img src="{% static 'images/subtopic-beer.png' %}" class="page-title-img" />
      </div>
      <div class="description-text text-center">
        {% for beer in beer_list %}
          <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_DETAIL}}', '{{beer.id}}');">{{ beer.name }}</a>,
        {% endfor %}
      </div>
    </div>
  </div>

  {% if venue_list %}
  <br>
  <div class="row" id="subcontent_comment_title">
    <div class="col-0 col-sm-2"></div>
    <div class="col-12 col-sm-8">
      <div class="subtopic text-center">
        <img src="{% static 'images/subtopic-venues.png' %}" class="page-title-img" />
      </div>
    </div>
    <div class="col-0 col-sm-2"></div>
  </div>

  <div class="row" id="subcontent_venue_list">
    <div class="col-1 col-sm-2"></div>
    <div class="col-10 col-sm-8">
      <div class="description-text text-center">
      {% for venue in venue_list %}
      <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_VENUE_DETAIL}}', '{{venue.id}}');">{{ venue.name }}</a>,
      {% endfor %}
    </div>
  </div>
  <div class="col-1 col-sm-2"></div>
  </div>
  {% endif %}

  <div class="row" id="hrizontalline">
    <div class="col-3 col-sm-2"></div>
    <div class="col-6 col-sm-8"><hr/></div>
    <div class="col-3 col-sm-2"></div>
  </div>
  <br>
  <div class="row" id="subcontent_comment_list">
    <div class="col-0 col-sm-2"></div>
    <div class="col-12 col-sm-8 infinite-container">
      {% for comment in comment_list %}
      <div class="infinite-item">
      <div class="description-text text-left">
        <p>
          <span class="subtopic"><b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_DETAIL}}', '{{comment.beer.id}}');">{{ comment.beer.name }}</a></b></span> - <b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_USER_ACCOUNT}}', '{{comment.user.id}}');">{{ comment.user.username }}</a></b>{% if comment.venue %} at <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_VENUE_DETAIL}}', '{{comment.venue.id}}');">{{ comment.venue.name }}</a> {% endif %}{% if request.user.is_admin %} - <a href="javascript:void(0)" onClick="deleteRecord('{{ACTION_DELETE_COMMENT}}', '{{comment.id}}');">削除</a>{% endif %}
          <br>{% for i in comment.overall|make_range %}<img src="{% static 'images/star-feed.png' %}" class="feed-star" /> {% endfor %}<span class="feed-info-right">{{ comment.registered_date }}</span>
        </p>
        <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_USER_BEER_DETAIL}}', '{{comment.id}}');">
          <p>{{ comment.comment }}</p>
        </a>
        {% if comment.photo %}
        <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_USER_BEER_DETAIL}}', '{{comment.id}}');">
          <p>
            <img class="img-fluid feed-photo" src='{{ MEDIA_URL }}{{comment.photo}}'>
          </p>
        </a>
        {% endif %}
      </div>
      <div class="row" id="comment_list">
        <div class="col-12 col-sm-10">
          <div class="description-text">
            <span class="like-block feed-info-right-md"><a role="button" aria-pressed="false" onclick="like('{% url 'like' comment.id %}', {{ comment.id }})"> <img src="{% static 'images/pre_like.png' %}" class="like-icon" /> <span id="like-count-{{ comment.id }}">{{ comment.id|get_like_count }}</span></a></span>
          </div>
        </div>
      </div>

      <hr class="hr-home">
      </div>
      {% endfor %}
    </div>
    <div class="col-2 col-sm-2"></div>
  </div>
</form>

{% if comment_list.has_next %}
   <a class="infinite-more-link" href="?brewery={{ brewery.id }}&page={{ comment_list.next_page_number }}">More</a>
 {% endif %}


<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0]
  });
</script>
