{% load static %}
<div class="row" id="hrizontalline2">
  <div class="col-3 col-sm-2"></div>
  <div class="col-6 col-sm-8"><hr/></div>
  <div class="col-3 col-sm-2"></div>
</div>






{% if venue_list %}
<form id="list_form" method="post" action="{{main_url}}">
  {% csrf_token %}
<br>
<div class="row" id="subcontent_comment_title">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    <div class="subtopic text-center">
      <img src="{% static 'images/subtopic-venues.png' %}" class="page-title-img" />
    </div>
  </div>
  <div class="col-0 col-sm-2"></div>
</div>
<br>

<div class="row" id="subcontent_venue_list">
  <div class="col-2 col-sm-2"></div>
  <div class="col-8 col-sm-8">
    {% for venue in venue_list %}
    <div class="description-text text-left">
    <p><b>・<a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_VENUE_DETAIL}}', '{{venue.id}}');">{{ venue.name }}</a></b></p>
    </div>
    {% endfor %}
</div>
<div class="col-2 col-sm-2"></div>
</div>
</form>
{% endif %}
