<div class="row" id="hrizontalline2">
  <div class="col-3 col-sm-2"></div>
  <div class="col-6 col-sm-8"><hr/></div>
  <div class="col-3 col-sm-2"></div>
</div>

<div class="row" id="sub_content_title">

  <div class="col-2 col-sm-2"></div>

    <div class="col-8 col-sm-8">
        <div class="subtopic text-center">
          <p>=Venue List=</p>
        </div>
    </div>

  <div class="col-2 col-sm-2"></div>
</div>

<div class="row" id="sub_content">

  <div class="col-2 col-sm-2"></div>

    <div class="col-8 col-sm-8">
      {% for venue in venue_list %}
        <div class="description-text text-center">
          {{ venue }}
        </div>
      {% endfor %}
    </div>

  <div class="col-2 col-sm-2"></div>
</div>
