<div class="row">
  <div class="col-1 col-sm-1"></div>
  <div class="col-10 col-sm-10">
    <div id="search_bar">

    {% if search_form %}
      <form enctype="multipart/form-data" method="POST" action="{{main_url}}">
      {%csrf_token%}
        <div class="text-center">
          {{ search_form.keyword.errors }}
          {{ search_form.keyword }}
          <input id="id_search" type="submit" class="btn btn-outline-info btn-search" value="検索">
        </div>
      <input type="hidden" name="action" value="{{ACTION_SEARCH_LIST}}">
      </form>
    {% endif %}
    </div>
  </div>
  <div class="col-1 col-sm-1"></div>
</div>
