{% load static %}
<form id="list_form" method="post" action="{{main_url}}">
  {% csrf_token %}


  {% for entry in entries %}
  <div class="row" id="subcontent_beer_list">
    <div class="col-0 col-sm-2"></div>
    <div class="col-12 col-sm-8">
      <div class="description-text text-left">
      <p>
        <a href="{{ entry.link }}" target="_blank">{{ entry.title }}</a>
        <br><span class="feed-info"> - 「{{ entry.site_name }}」</span>
        <br><span class="feed-info">{{ entry.date }}</span>
      </p>
      <br>
      </div>
    </div>
    <div class="col-0 col-sm-2"></div>
  </div>

  {% endfor %}


</form>
