{% extends "common/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    <div class="row">
      <form id="navigation_form" method="post">
        {% csrf_token %}
      <div class="col-md-7 col-xs-10"></div>
      <div class="col-md-2 col-xs-1">
        <p>
          <a href="{% url 'signup' %}">サインアップ</a>
        </p>
      </div>
      <div class="col-md-3 col-xs-1"></div>
      </form>
    </div>
    <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <form id="login" method="POST">
            <div class="card">
                <div class="card-body">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field }}
                        {{ field.errors }}
                        <hr>
                    {% endfor %}
                    <button type="submit" class="btn btn-success btn-lg btn-block" >ログイン</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% csrf_token %}
                </div>
            </div>
        </form>
      </div>
      </div>

{% endblock %}
