{% extends "common/base.html" %}
{% load static %}
{% block content %}


    <div class="row">
      <div class="col-2 col-sm-1"></div>
      <div class="col-8 col-sm-10">
        <div class="title-image">
        <img src="{% static 'images/title.png' %}" class="img-fluid" />
        </div>
      </div>
      <div class="col-2 col-sm-1"></div>
    </div>

    <div class="row">
        <div class="text-right description-text">
          <div class="col-12 col-sm-6 offset-sm-3">
            <a href="{% url 'signup' %}">サインアップ</a>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <form id="login" method="POST">
            <div class="card">
                <div class="card-body">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field }}
                        {{ field.errors }}
                        <hr>
                    {% endfor %}
                    <button type="submit" class="btn btn-success btn-lg btn-block" >ログイン</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% csrf_token %}
                </div>
            </div>
        </form>
      </div>
      </div>

      <a href="#howto" data-easing="easeInOutQuad" class="scroll-down"><span></span><div class="description-text">できること</div></a>
      <section id="blank">
      </section>

      <section id="howto">
          <div class="thumbnail">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>a
          </div>
      </section>
{% endblock %}
