
{% extends "common/base.html" %}

{% block title %}{{ html_title }} | tapyourbeer{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% include "common/header.html" %}

{%  if search_bar %}
<!-- 検索画面の場合 -->
  {% include search_bar %}
{% endif %}

<!-- 変数mainに呼び出すメインテンプレート名を代 -->
<p>
    {% include main_content %}
</p>

<!-- 変数subに呼び出すサブテンプレート名を代入 -->
{% if sub_content %}
<p>
    {% include sub_content %}
</p>
{% endif %}

<div class="row">
  <div class="col-xs-12 col-sm-12">
    {% include "common/footer.html" %}
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12">
    {% include "common/navigation.html" %}
  </div>
</div>


{% else %}
<div>
以下リンクよりログインしてください
</div>
<div>
<a href="{% url 'accounts:login' %}">http://127.0.0.1:8000/login/</a>
</div>
{% endif %}
{% endblock %}
