    <div id="navigation" class="navbar fixed-bottom center-block">
      <form id="navigation_form" method="post" action="{{main_url}}">
      {% csrf_token %}
      <ul>
        <li>
          <a href="javascript:void(0)" onClick="movePage('{{ACTION_HOME}}');">&nbsp;&nbsp; Home</a>
        </li>
        <li>
          <a href="javascript:void(0)" onClick="movePage('{{ACTION_SEARCH}}');">&nbsp;&nbsp; 検索</a>
        </li>
        <li>
          {% if beer %}
          <a href="javascript:void(0)" onClick="moveToDetail('{{ACTION_ADD_BEER_EVALUATION}}', {{ beer.id }});">&nbsp;&nbsp; ビール評価登録</a>
          {% else %}
          <a href="javascript:void(0)" onClick="movePage('{{ACTION_ADD_BEER_EVALUATION}}');">&nbsp;&nbsp; ビール評価登録</a>
          {% endif %}
        </li>
        <li>
          <a href="javascript:void(0)" onClick="movePage('{{ACTION_USER_ACCOUNT}}');">&nbsp;&nbsp; ユーザーアカウント</a>
        </li>
      </ul>
      </form>
    </div>
