<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <link rel="stylesheet" type="text/css" href="../../static/css/common.css">
</head>
<body>
  <div id="container">

    <div id="header">
      ヘッダ、ユーザ情報、ログアウトリンク
    </div>
    
    <div id="nav">
      <div class="title">TITLE</div>
      <ul>
        <li>
          Home
        </li>
        <li>
          進捗
        </li>
        <li>
          ターゲット
        </li>
        <li>
          ユーザ
        </li>
      </ul>
    </div>
  
    <div id="main_content">
      <div class="page_title">PAGE NAME</div>
      <div class="target_info">
        <table>
          <tr>
            <th>th</th>
          </tr>
          <tr>
            <td>td</td>
          </tr>
        </table>
      </div>
    </div>
  

    <div id="sub_content">
      登録フォームとか
    </div>
  
    <div id="footer">
      ふった
    </div>
  </div>
</body>
</html>