<div class="row　no-flex">
  <div class="col-0 col-sm-1"></div>
  <div class="col-12 col-sm-10">

    <div id="main_content">

      {% if no_search_result %}
      <div class="subtopic text-center">
      no search result
      </div>
      {% endif %}

      <form id="list_form" method="post" action="{{main_url}}">
      {% csrf_token %}
      {% if beer_list %}
      <hr>
        {% for beer in beer_list %}
        <div class="topic text-center">
          <p><b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_DETAIL}}', '{{beer.id}}');">{{ beer.name }}</a></b></p>
        </div>
        <div class="subtopic text-center">
          <p>by <b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BREWERY_DETAIL}}', '{{beer.brewery.id}}');">{{ beer.brewery.name }}</a></b></p>
        </div>
        <hr>
        {% endfor %}
      {% endif %}
      </form>
    </div>

  </div>
  <div class="col-0 col-sm-1"></div>
</div>
