<div class="row">
  <div class="col-0 col-sm-1"></div>
  <div class="col-12 col-sm-10">
    <div id="detail_search_bar">
      {% if detail_search_form %}
      <form enctype="multipart/form-data" method="POST" action="{{main_url}}">
      <div class="form-inner">
      {%csrf_token%}
      {{form_message}}

      <div class="half dropdown fieldWrapper form-group">
        {{ detail_search_form.overall.errors }}
          <div class="underline right-control">
          <input name="overall" type="text"/>
          <label for="id_overall">総合</label>
          <span class="placeholder">総合</span>
          <div class="dropdown-arrow"><div></div></div>
          </div>
            {{ detail_search_form.overall }}
      </div>


      <div class="half dropdown fieldWrapper form-group">
        {{ detail_search_form.bitterness.errors }}
          <div class="underline right-control">
          <input name="bitterness" type="text"/>
          <label for="id_bitterness">苦味</label>
          <span class="placeholder">苦味</span>
          <div class="dropdown-arrow"><div></div></div>
          </div>
            {{ detail_search_form.bitterness }}
      </div>

      <div class="half dropdown fieldWrapper form-group">
        {{ detail_search_form.aroma.errors }}
          <div class="underline right-control">
          <input name="aroma" type="text"/>
          <label for="id_aroma">香り</label>
          <span class="placeholder">香り</span>
          <div class="dropdown-arrow"><div></div></div>
          </div>
            {{ detail_search_form.aroma }}
      </div>

      <div class="half dropdown fieldWrapper form-group">
        {{ detail_search_form.body.errors }}
          <div class="underline right-control">
          <input name="body" type="text"/>
          <label for="id_body">ボディ</label>
          <span class="placeholder">ボディ</span>
          <div class="dropdown-arrow"><div></div></div>
          </div>
            {{ detail_search_form.body }}
      </div>

      <div class="half dropdown fieldWrapper form-group">
        {{ detail_search_form.drinkability.errors }}
          <div class="underline right-control">
          <input name="drinkability" type="text"/>
          <label for="id_drinkability">飲みやすさ</label>
          <span class="placeholder">飲みやすさ</span>
          <div class="dropdown-arrow"><div></div></div>
          </div>
            {{ detail_search_form.drinkability }}
      </div>

      <div class="half dropdown fieldWrapper form-group">
        {{ detail_search_form.pressure.errors }}
          <div class="underline right-control">
          <input name="pressure" type="text"/>
          <label for="id_pressure">炭酸</label>
          <span class="placeholder">炭酸</span>
          <div class="dropdown-arrow"><div></div></div>
          </div>
            {{ detail_search_form.pressure }}
      </div>

      <div class="half dropdown fieldWrapper form-group">
        {{ detail_search_form.specialness.errors }}
          <div class="underline right-control">
          <input name="specialness" type="text"/>
          <label for="id_specialness">独自感</label>
          <span class="placeholder">独自感</span>
          <div class="dropdown-arrow"><div></div></div>
          </div>
            {{ detail_search_form.specialness }}
      </div>

      <input type="hidden" name="action" value="{{ACTION_DETAIL_SEARCH_LIST}}">
      <div class="buttons">
        <div>
          <button id="id_detail_search" type="submit" class="btn btn-default">検索</button>
        </div>
      </div>
    </div>
    </form>
  {% endif %}

    </div>
  </div>
  <div class="col-0 col-sm-1"></div>
</div>
