{% load static %}
<div class="row" id="main_content">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
      <div class="topic text-center">
          <p><b>{{ friend.username }}</b></p>
      </div>


      {% if friend.living_area and not friend.living_country %}
      <div class="description-text text-center">
        <p>in <b>{{ friend.living_area }}</b></p>
      </div>
      {% elif not friend.living_area and friend.living_country %}
      <div class="description-text text-center">
        <p>in <b>{{ friend.living_country }}</b></p>
      </div>
      {% elif friend.living_area and friend.living_country %}
      <div class="description-text text-center">
        <p>in <b>{{ friend.living_area }}</b> - <b>{{ friend.living_country }}</b></p>
      </div>
      {%  endif %}




      <div class="description-text text-center">
        {% if friend.description %}
        {{ friend.description }}
        {% else %}
        no description
        {% endif %}
      </div>

      <form id="list_form" method="post" action="{{main_url}}">
        {% csrf_token %}
        <div class="description-text text-center">
      {% ifequal friend.id request.user.id %}
        <a href="javascript:void(0)" class="btn btn-outline-info" onClick="moveToDetailFromList('{{ACTION_USER_UPDATE}}', '{{request.user.id}}');">編集する</a>
      {% else %}
        {% if following %}
        <button type="button" class="btn btn-outline-info" href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_UNFOLLOW}}', '{{friend.id}}');">フォローを外す</button>
        {% else %}
        <button type="button" class="btn btn-outline-info" href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_FOLLOW}}', '{{friend.id}}');">フォローする</button>
        {% endif %}
      {% endifequal %}
      </div>
      <div class="description-text text-center">
        <div class="follow-data">follow: {{ num_follow }}</div><div class="follow-data">follower: {{ num_follower }}</div>
      </div>
      </form>

    </div>
</div>
