<div class="row" id="hrizontalline">
  <div class="col-3 col-sm-2"></div>
  <div class="col-6 col-sm-8"><hr/></div>
  <div class="col-3 col-sm-2"></div>
</div>

<form id="list_form" method="post" action="{{main_url}}">
  {% csrf_token %}
<div class="row" id="subcontent_beerlist_title">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    <div class="subtopic text-center">
      <p>Beers</p>
    </div>
  </div>
  <div class="col-0 col-sm-2"></div>
</div>

<div class="row" id="subcontent_beer_list">
  <div class="col-0 col-sm-2"></div>
  <div class="col-12 col-sm-8">
    {% for comment in comment_list %}
    <div class="description-text text-left">

      <p><b><a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BEER_DETAIL}}', '{{comment.beer.id}}');">{{ comment.beer.name }}</a></b> by <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_BREWERY_DETAIL}}', '{{comment.beer.brewery.id}}');">{{ comment.beer.brewery.name }}</a>{% if comment.venue %} at <a href="javascript:void(0)" onClick="moveToDetailFromList('{{ACTION_VENUE_DETAIL}}', '{{comment.venue.id}}');">{{ comment.venue.name }}</a> {% endif %}
        <br>on {{ comment.registered_date }}{% if request.user.is_admin %} - <a href="javascript:void(0)" onClick="deleteRecord('{{ACTION_DELETE_COMMENT}}', '{{comment.id}}');">削除</a>{% endif %}{% ifequal request.user.id friend.id %} - <a href="javascript:void(0)" onClick="deleteRecord('{{ACTION_DELETE_COMMENT}}', '{{comment.id}}');">削除</a>{% endifequal %}</p>
    <p>{{ comment.comment }}</p>
    </div>
    {% endfor %}
</div>
<div class="col-0 col-sm-2"></div>
</div>

<div class="row" id="hrizontalline">
  <div class="col-3 col-sm-2"></div>
  <div class="col-6 col-sm-8"><hr/></div>
  <div class="col-3 col-sm-2"></div>
</div>

</form>
